<footer>
  <div class="container">
    <div class="row nomobile">
      <div class="col-sm-offset-2 col-sm-8">
        <h2 class="text-center">About GenderAvenger</h2>
        <p class="text-left"><a href="http://www.genderavenger.com/">GenderAvenger</a> is a community dedicated to ensuring that women are always part of the public dialog. We believe that change can happen when we challenge decision makers at all levels by pointing out gender imbalances. <a href="http://www.genderavenger.com/">Join us.</a></p>
      </div>
    </div>
    <div class="row nomobile">
      <div class="col-md-6 col-md-offset-3 text-center">
        <ul class="list-inline">
            <li>
            <a href="https://twitter.com/genderavenger"><i class="icon-twitter icon-2x"></i></a>
          </li>
          <li>
            <a href="https://plus.google.com/+Genderavenger/" target="_blank" title="Elan Morgan"><i class="icon-google-plus icon-2x"></i></a>
          </li>
          <li>
            <a href="http://www.facebook.com/GenderAvenger" target="_blank" title="Gender Avenger"><i class="icon-facebook icon-2x"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>