<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  {% include "shared/header.html" %}
  <body class="choice">

    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <div id="logo">
            <a href="/"><img src="../img/wire_logo.png" alt="Gender Avenger"/></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6 text-center">
          <p class="instructions">Do you want to use the timers or enter times manually?</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-offset-1 col-xs-5 col-sm-offset-3 col-sm-3"></div>
        <div class="col-xs-offset-1 col-xs-5 col-sm-offset-3 col-sm-3"></div>
      </div>

      <div class="row">
        <div class="col-xs-offset-3 col-xs-6 col-sm-offset-3 col-sm-3 text-center">
          <a href="/whotalks"><div class="button btn-block">Use Timers</div></a>
        </div>
        <div class="col-xs-offset-3 col-xs-6 col-sm-offset-0 col-sm-3 text-center">
          <a href="/whotalks?manual=1"><div class="button btn-block">Enter Manually</div></a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-3 col-xs-6 col-sm-offset-3 col-sm-6 text-right">
          <a href="/"><div class="btn btn-default btn-block">Back</div></a>
        </div>
      </div>
    </div>

    <div class="row">
    </div>

    <script type="text/javascript" src="/js/index_events.js"></script>
    {% include "shared/footer.html" %}
  </body>
</html>
