<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  {% include "shared/header.html" %}
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6 text-center">
          <div id="logo">
            <a href="/"><img src="../img/wire_logo.png" alt="Gender Avenger"/></a>
          </div>
        </div>
      </div>
      <div class="row pad-top">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 text-center">
            {% if error.session_text %}
            <p class="error">Oops! Your title is too long. (max characters: 30)</p>
            {% elif error.no_session %}
            <p class="error">Oops! You must include a title. (max characters: 30)</p>
            {% elif error.hashtag %}
            <p class="error">Oops! Your hashtag needs work. (Max characters: 20, no spaces allowed)</p>
            {% elif error.notdudecount %}
            <p class="error">Oops! Not dude count must be a number.</p>
            {% elif error.dudecount %}
            <p class="error">Oops! Dude count must be a number.</p>
            {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 text-center">
          <h2>Who is Involved?</h2>
        </div>
      </div>
      <form method="post" id="chart-form" action="/whotalks/chart">
        <div class="row">
          <div class="col-xs-offset-1 col-xs-4 col-sm-offset-4 col-sm-2 text-center">
              <div class="form-group {% if error.dudecount %}error{% endif %}">
                <label for="dudecount">Dude Count:</label>
                <input class="form-control" id="dudecount" name="dudecount" placeholder="0" {% if dudecount %}value="{{ dudecount }}"{% endif %}/>
              </div>
            </div>
          <div class="col-xs-4 col-sm-2 text-center">
            <div class="form-group {% if error.notdudecount %}error{% endif %}">
              <label for="notdudecount">Not Dude Count:</label>
              <input class="form-control" id="notdudecount" name="notdudecount" placeholder="0" {% if notdudecount %}value="{{ notdudecount }}"{% endif %}/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-offset-1 col-xs-4 col-sm-offset-3 col-sm-6 text-center">
            <div class="form-group {% if error.session_text %} error {% endif %}">
              <label for="session_text">Title your results</label>
              <textarea class="form-control" id="session_text" name="session_text" placeholder="e.g. the name of an meeting, show, event">{% if session_text %}{{ session_text }}{% endif %}</textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-offset-1 col-xs-4 col-sm-offset-3 col-sm-6 text-center">
            <div class="form-group {% if error.hashtag %} error {% endif %}">
              <label for="hashtag">Is there a hashtag?</label>
              <input type="text" class="form-control" name="hashtag" id="hashtag" placeholder="optional" {% if hashtag %}value="{{ hashtag }}"{% endif %}/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-offset-1 col-xs-10 col-sm-offset-4 col-sm-4 text-center">
              <div class="form-group">
                <input class="btn btn-default btn-lg" type="submit" value="Submit"/>
              </div>
            </div>
        </div>
      </form>
    </div>
  </body>
</html>
