<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  {% include "shared/header.html" %}
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6 text-center">
          <div id="logo">
            <a href="/"><img src="../img/wire_logo.png" alt="Gender Avenger"/></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 text-center">
          <h2 id="activity-title">Who's Talking?</h2>
          <h4 id="activity-talker">&nbsp;</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 text-center">
          <p id="ans">&nbsp;</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-4 text-center">
          <div class="timerMode button button-timer" id="dude">A Dude</div>
          <div class="timerMode">
            <p id="dude-display" class="display">00:00</p>
          </div>
          <div class="editMode">
            <h2>A Dude</h2>
            <div class="row">
              <div class="col-xs-6">
                <label for="dude-edit-hours">Hours:</label>
              </div>
              <div class="col-xs-6">
                <input type="text" class="whotalks-entry" name="dude_edit_hours" value="0" id="dude-edit-hours" />
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <label for="dude-edit-minutes">Minutes:</label>
              </div>
              <div class="col-xs-6">
                <input type="text" class="whotalks-entry" name="dude_edit_minutes" value="0" id="dude-edit-minutes" />
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <label for="dude-edit-seconds">Seconds:</label>
              </div>
              <div class="col-xs-6">
                <input type="text" class="whotalks-entry" name="dude_edit_seconds" value="0" id="dude-edit-seconds" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-4 text-center">
          <div class="timerMode button button-timer" id="not-dude">Not a Dude (white)</div>
          <div class="timerMode button button-timer" id="not-dude-of-color">Not a Dude (of color)</div>
          <div class="timerMode">
            <p class="display"><span id="not-dude-total-display">00:00</span> (<span id="not-dude-display">00:00</span> + <span id="not-dude-of-color-display">00:00</span>)</p>
          </div>
          <div class="editMode">
            <h2>Not a Dude</h2>
            <h3>(white)</h3>
            <div class="row">
              <div class="col-xs-6">
                <label for="not-dude-edit-hours">Hours:</label>
              </div>
              <div class="col-xs-6">
                <input type="text" class="whotalks-entry" name="not_dude_edit_hours" value="0" id="not-dude-edit-hours" />
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <label for="not-dude-edit-minutes">Minutes:</label>
              </div>
              <div class="col-xs-6">
                <input type="text" class="whotalks-entry" name="not_dude_edit_minutes" value="0" id="not-dude-edit-minutes" />
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <label for="not-dude-edit-seconds">Seconds:</label>
              </div>
              <div class="col-xs-6">
                <input type="text" class="whotalks-entry" name="not_dude_edit_seconds" value="0" id="not-dude-edit-seconds" />
              </div>
            </div>
            <h3>(of color)</h3>
            <div class="row">
              <div class="col-xs-6">
                <label for="not-dude-of-color-edit-hours">Hours:</label>
              </div>
              <div class="col-xs-6">
                <input type="text" class="whotalks-entry" name="not_dude_of_color_edit_hours" value="0" id="not-dude-of-color-edit-hours" />
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <label for="not-dude-of-color-edit-minutes">Minutes:</label>
              </div>
              <div class="col-xs-6">
                <input type="text" class="whotalks-entry" name="not_dude_of_color_edit_minutes" value="0" id="not-dude-of-color-edit-minutes" />
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <label for="not-dude-of-color-edit-seconds">Seconds:</label>
              </div>
              <div class="col-xs-6">
                <input type="text" class="whotalks-entry" name="not_dude_of_color_edit_seconds" value="0" id="not-dude-of-color-edit-seconds" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10 text-center">
          <form method="post" id="chart-form">
            <div class="form-group">
              <input type="hidden" name="not_dude_time" value="0" id="not-dude-input" />
              <input type="hidden" name="not_dude_of_color_time" value="0" id="not-dude-of-color-input" />
              <input type="hidden" name="dude_time" value="0" id="dude-input" />
              <div class="timerMode">
                <input class="btn" type="button" id="activate-edit-mode" value="Edit Times"/>
              </div>
              <div class="editMode">
                <br />
                <input class="btn" type="button" id="activate-timer-mode" value="Use Timers"/>
              </div>
              <input class="btn" type="submit" id="chart-submit" value="Finish"/>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/js/index_events.js"></script>

    <script type="text/javascript">
      $(function() {
        'use strict';
        var dude = {
          time: {
            minutes: 0,
            seconds: {{dude_time}},
            hours: 0
          },
          active: false
        };
        var not_dude = {
          time: {
            minutes: 0,
            seconds: {{not_dude_time}},
            hours: 0
          },
          active: false
        };
        var not_dude_of_color = {
          time: {
            minutes: 0,
            seconds: {{not_dude_of_color_time}},
            hours: 0
          },
          active: false
        };
        var dude_t;
        var not_dude_t;
        var not_dude_of_color_t;
        var $ans = $('#ans');
        var $dude = $('#dude');
        var $not_dude = $('#not-dude');
        var $not_dude_of_color = $('#not-dude-of-color');
        var $activity_talker = $('#activity-talker');

        var $dude_edit_hours = $('#dude-edit-hours');
        var $dude_edit_minutes = $('#dude-edit-minutes');
        var $dude_edit_seconds = $('#dude-edit-seconds');
        var $not_dude_edit_hours = $('#not-dude-edit-hours');
        var $not_dude_edit_minutes = $('#not-dude-edit-minutes');
        var $not_dude_edit_seconds = $('#not-dude-edit-seconds');
        var $not_dude_of_color_edit_hours = $('#not-dude-of-color-edit-hours');
        var $not_dude_of_color_edit_minutes = $('#not-dude-of-color-edit-minutes');
        var $not_dude_of_color_edit_seconds = $('#not-dude-of-color-edit-seconds');

        function num_pad(num) {
          if (num < 10) {
            return '0' + num;
          } else {
            return num;
          }
        }

        function setTimeDisplay(tally, display_sel) {
          if (tally.hours !== 0) {
            $(display_sel).html(num_pad(tally.hours) + ':' + num_pad(tally.minutes) + ':' + num_pad(tally.seconds));
          } else {
            $(display_sel).html(num_pad(tally.minutes) + ':' + num_pad(tally.seconds));
          }
        }

        function updateNotDudeTotalDisplay() {
          var minutes = (not_dude.time.minutes + not_dude_of_color.time.minutes) % 60
            + Math.floor((not_dude.time.seconds + not_dude_of_color.time.seconds)/ 60);
          var seconds = (not_dude.time.seconds + not_dude_of_color.time.seconds) % 60;
          var hours = not_dude.time.hours + not_dude_of_color.time.hours
            + Math.floor(
              (not_dude.time.minutes + not_dude_of_color.time.minutes
                 + (not_dude.time.seconds + not_dude_of_color.time.seconds) / 60
              ) / 60
            );
          var parsed_not_dude_total_time = {
            minutes,
            seconds,
            hours,
          };
          if(parsed_not_dude_total_time) {
            setTimeDisplay(parsed_not_dude_total_time, '#not-dude-total-display');
          }
        }

        function setTime(tally, display_sel, input_sel) {
          if (tally.seconds >= 60) {
            tally.minutes += Math.floor(tally.seconds / 60);
            tally.seconds = tally.seconds % 60;
          }
          if (tally.minutes >= 60) {
            tally.hours += Math.floor(tally.minutes / 60);
            tally.minutes = tally.minutes % 60;
          }
          setTimeDisplay(tally, display_sel)

          // Update the input values
          var tally_tot = (tally.hours * 3600) + (tally.minutes * 60) + tally.seconds
          $(input_sel).val(tally_tot);

          $dude_edit_hours.val(dude.time.hours);
          $dude_edit_minutes.val(dude.time.minutes);
          $dude_edit_seconds.val(dude.time.seconds);
          $not_dude_edit_hours.val(not_dude.time.hours);
          $not_dude_edit_minutes.val(not_dude.time.minutes);
          $not_dude_edit_seconds.val(not_dude.time.seconds);
          $not_dude_of_color_edit_hours.val(not_dude_of_color.time.hours);
          $not_dude_of_color_edit_minutes.val(not_dude_of_color.time.minutes);
          $not_dude_of_color_edit_seconds.val(not_dude_of_color.time.seconds);

          var d_tot = (dude.time.hours * 3600) + (dude.time.minutes * 60) + dude.time.seconds;
          var nd_tot = (not_dude.time.hours * 3600) + (not_dude.time.minutes * 60) + not_dude.time.seconds;
          var ndoc_tot = (not_dude_of_color.time.hours * 3600) + (not_dude_of_color.time.minutes * 60) + not_dude_of_color.time.seconds;
          if(d_tot + nd_tot + ndoc_tot > 0) {
            var pct = parseInt(d_tot / (d_tot + nd_tot + ndoc_tot) * 100, 10);
            $ans.html('<span id="pct">' + pct + '</span>% men');
          }
        }

        function saveTimeInputValues() {
          var dude_time_hours = parseInt($dude_edit_hours.val()) | 0;
          var dude_time_minutes = parseInt($dude_edit_minutes.val()) | 0;
          var dude_time_seconds = parseInt($dude_edit_seconds.val()) | 0;
          var not_dude_time_hours = parseInt($not_dude_edit_hours.val()) | 0;
          var not_dude_time_minutes = parseInt($not_dude_edit_minutes.val()) | 0;
          var not_dude_time_seconds = parseInt($not_dude_edit_seconds.val()) | 0;
          var not_dude_of_color_time_hours = parseInt($not_dude_of_color_edit_hours.val()) | 0;
          var not_dude_of_color_time_minutes = parseInt($not_dude_of_color_edit_minutes.val()) | 0;
          var not_dude_of_color_time_seconds = parseInt($not_dude_of_color_edit_seconds.val()) | 0;
          var not_dude_total_time_hours = not_dude_time_hours + not_dude_of_color_time_hours;
          var not_dude_total_time_minutes = not_dude_time_minutes + not_dude_of_color_time_minutes;
          var not_dude_total_time_seconds = not_dude_time_seconds + not_dude_of_color_time_seconds;
          var parsed_dude_time = {
            minutes: dude_time_minutes % 60 + Math.floor(dude_time_seconds / 60),
            seconds: dude_time_seconds % 60,
            hours: dude_time_hours + Math.floor((dude_time_minutes + dude_time_seconds / 60) / 60)
          };
          var parsed_not_dude_time ={
            minutes: not_dude_time_minutes % 60 + Math.floor(not_dude_time_seconds / 60),
            seconds: not_dude_time_seconds % 60,
            hours: not_dude_time_hours + Math.floor((not_dude_time_minutes + not_dude_time_seconds / 60) / 60)
          };
          var parsed_not_dude_of_color_time ={
            minutes: not_dude_of_color_time_minutes % 60 + Math.floor(not_dude_of_color_time_seconds / 60),
            seconds: not_dude_of_color_time_seconds % 60,
            hours: not_dude_of_color_time_hours + Math.floor((not_dude_of_color_time_minutes + not_dude_of_color_time_seconds / 60) / 60)
          };

          if(parsed_dude_time) {
            dude.time = parsed_dude_time;
            setTime(dude.time, '#dude-display', '#dude-input');
          }
          if(parsed_not_dude_time) {
            not_dude.time = parsed_not_dude_time;
            setTime(not_dude.time, '#not-dude-display', '#not-dude-input');
          }
          if(parsed_not_dude_of_color_time) {
            not_dude_of_color.time = parsed_not_dude_of_color_time;
            setTime(not_dude_of_color.time, '#not-dude-of-color-display', '#not-dude-of-color-input');
          }
          updateNotDudeTotalDisplay();
        }

        function stopNotDudeOfColorTimer() {
          not_dude_of_color.active = false;
          clearInterval(not_dude_of_color_t);
          $not_dude_of_color.text("Not a Dude (of color)");
          $activity_talker.html("&nbsp;");
          $not_dude_of_color.removeClass('pressed');
        }

        function stopNotDudeTimer() {
          not_dude.active = false;
          clearInterval(not_dude_t);
          $not_dude.text("Not a Dude (white)");
          $activity_talker.html("&nbsp;");
          $not_dude.removeClass('pressed');
        }

        function stopDudeTimer() {
          dude.active = false;
          clearInterval(dude_t);
          $dude.text("A Dude");
          $activity_talker.html("&nbsp;");
          $dude.removeClass('pressed');
        }

        function stopAllTimers() {
          stopNotDudeOfColorTimer();
          stopNotDudeTimer();
          stopDudeTimer();
        }

        $dude.click(function() {
          $dude.toggleClass('pressed');
          if (dude.active === true) {
            stopDudeTimer();
          } else {
            dude.active = true;
            $dude.html("<span class='glyphicon glyphicon-pause'></span>");
            $activity_talker.html("A dude.");
            if (not_dude.active === true) {
              $not_dude.toggleClass('pressed');
              not_dude.active = false;
              $not_dude.text("Not a Dude (white)");
              clearInterval(not_dude_t);
            }
            if (not_dude_of_color.active === true) {
              $not_dude_of_color.toggleClass('pressed');
              not_dude_of_color.active = false;
              $not_dude_of_color.text("Not a Dude (of color)");
              clearInterval(not_dude_of_color_t);
            }
            dude_t = setInterval(function() {
              dude.time.seconds++;
              setTime(dude.time, '#dude-display', '#dude-input');
            }, 1000);
          }
        });
        $not_dude.click(function() {
          $not_dude.toggleClass('pressed');
          if (not_dude.active === true) {
            stopNotDudeTimer();
          } else {
            not_dude.active = true;
            $not_dude.html("<span class='glyphicon glyphicon-pause'></span>");
            $activity_talker.html("Not a dude (white).");
            if (dude.active === true) {
              $dude.toggleClass('pressed');
              dude.active = false;
              $dude.text("A Dude");
              clearInterval(dude_t);
            }
            if (not_dude_of_color.active === true) {
              $not_dude_of_color.toggleClass('pressed');
              not_dude_of_color.active = false;
              $not_dude_of_color.text("Not a Dude (of color)");
              clearInterval(not_dude_of_color_t);
            }
            not_dude_t = setInterval(function() {
              not_dude.time.seconds++;
              setTime(not_dude.time, '#not-dude-display', '#not-dude-input');
              updateNotDudeTotalDisplay();
            }, 1000);
          }
        });
        $not_dude_of_color.click(function() {
          $not_dude_of_color.toggleClass('pressed');
          if (not_dude_of_color.active === true) {
            stopNotDudeOfColorTimer();
          } else {
            not_dude_of_color.active = true;
            $not_dude_of_color.html("<span class='glyphicon glyphicon-pause'></span>");
            $activity_talker.html("Not a dude (of color).");
            if (dude.active === true) {
              $dude.toggleClass('pressed');
              dude.active = false;
              $dude.text("A Dude");
              clearInterval(dude_t);
            }
            if (not_dude.active === true) {
              $not_dude.toggleClass('pressed');
              not_dude.active = false;
              $not_dude.text("Not a Dude (white)");
              clearInterval(not_dude_t);
            }
            not_dude_of_color_t = setInterval(function() {
              not_dude_of_color.time.seconds++;
              setTime(not_dude_of_color.time, '#not-dude-of-color-display', '#not-dude-of-color-input');
              updateNotDudeTotalDisplay();
            }, 1000);
          }
        });

        function bindEditInput($edit_input) {
          $edit_input.blur(saveTimeInputValues)
          $edit_input.focus(stopAllTimers)
        }

        bindEditInput($not_dude_of_color_edit_hours);
        bindEditInput($not_dude_of_color_edit_minutes);
        bindEditInput($not_dude_of_color_edit_seconds);
        bindEditInput($not_dude_edit_hours);
        bindEditInput($not_dude_edit_minutes);
        bindEditInput($not_dude_edit_seconds);
        bindEditInput($dude_edit_hours);
        bindEditInput($dude_edit_minutes);
        bindEditInput($dude_edit_seconds);

        function activateEditMode() {
          stopAllTimers();
          $(".timerMode").hide();
          $(".editMode").show();
        }
        function activateTimerMode()  {
          $(".editMode").hide();
          $(".timerMode").show();
        }

        $("#activate-edit-mode").click(activateEditMode)
        $("#activate-timer-mode").click(activateTimerMode)
        var manual_mode = "{{manual_mode}}"
        if (manual_mode) {
          activateEditMode();
        } else {
          activateTimerMode();
        }

        setTime(not_dude_of_color.time, '#not-dude-of-color-display', '#not-dude-of-color-input');
        setTime(not_dude.time, '#not-dude-display', '#not-dude-input');
        setTime(dude.time, '#dude-display', '#dude-input');
      });
    </script>
    {% include "shared/footer.html" %}
  </body>
</html>
