<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  {% include "shared/header.html" %}
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6 text-center">
          <div id="logo">
            <a href="/"><img src="../img/wire_logo.png" alt="Gender Avenger"/></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 text-center">
          <h2 id="activity-title">Who's Talking?</h2>
          <h4 id="activity-talker">&nbsp;</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 text-center">
          <p id="ans">&nbsp;</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-4 text-center">
          <div class="button button-timer" id="dude">A Dude</div>
          <p id="dude-display" class="display">00:00</p>
        </div>
        <div class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-4 text-center">
          <div class="button button-timer" id="not-dude">Not a Dude</div>
          <p id="not-dude-display" class="display">00:00</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10 text-center">
          <form method="post" id="chart-form">
            <div class="form-group">
              <input type="hidden" name="not_dude_time" value="0" id="not-dude-input" />
              <input type="hidden" name="dude_time" value="0" id="dude-input" />
              <input class="btn" type="submit" id="chart-submit" value="Finish"/>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/js/index_events.js"></script>

    <script type="text/javascript">
      $(function() {
        'use strict';
        var dude = {
          time: {
            minutes: 0,
            seconds: {{dude_time}},
            hours: 0
          },
          active: false
        };
        var not_dude = {
          time: {
            minutes: 0,
            seconds: {{not_dude_time}},
            hours: 0
          },
          active: false
        };
        var dude_t;
        var not_dude_t;
        var $ans = $('#ans');
        var $dude = $('#dude');
        var $not_dude = $('#not-dude');
        var $activity_talker = $('#activity-talker');

        var $dude_input = $('#dude-input');
        var $dude_input = $('#not-dude-input');

        function num_pad(num) {
          if (num < 10) {
            return '0' + num;
          } else {
            return num;
          }
        }
        function setTime(tally, display_sel, input_sel) {
          if (tally.seconds >= 60) {
            tally.minutes += Math.floor(tally.seconds / 60);
            tally.seconds = tally.seconds % 60;
          }
          if (tally.minutes >= 60) {
            tally.hours += Math.floor(tally.minutes / 60);
            tally.minutes = tally.minutes % 60;
          }
          if (tally.hours !== 0) {
            $(display_sel).html(num_pad(tally.hours) + ':' + num_pad(tally.minutes) + ':' + num_pad(tally.seconds));
          } else {
            $(display_sel).html(num_pad(tally.minutes) + ':' + num_pad(tally.seconds));
          }

          // Update the input value
          var tally_tot = (tally.hours * 3600) + (tally.minutes * 60) + tally.seconds
          $(input_sel).val(tally_tot);

          var d_tot = (dude.time.hours * 3600) + (dude.time.minutes * 60) + dude.time.seconds;
          var l_tot = (not_dude.time.hours * 3600) + (not_dude.time.minutes * 60) + not_dude.time.seconds;
          if(d_tot + l_tot > 0) {
            var pct = parseInt(d_tot / (d_tot + l_tot) * 100, 10);
            $ans.html('<span id="pct">' + pct + '</span>% men');
          }
        }
        $dude.click(function() {
          $dude.toggleClass('pressed');
          if (dude.active === true) {
            dude.active = false;
            clearInterval(dude_t);
            $dude.text("A Dude");
            $activity_talker.html("&nbsp;");
          } else {
            dude.active = true;
            $dude.html("<span class='glyphicon glyphicon-pause'></span>");
            $activity_talker.html("A dude.");
            if (not_dude.active === true) {
              $not_dude.toggleClass('pressed');
              not_dude.active = false;
              $not_dude.text("Not a Dude");
              clearInterval(not_dude_t);
            }
            dude_t = setInterval(function() {
              dude.time.seconds++;
              setTime(dude.time, '#dude-display', '#dude-input');
            }, 1000);
          }
        });
        $not_dude.click(function() {
          $not_dude.toggleClass('pressed');
          if (not_dude.active === true) {
            not_dude.active = false;
            clearInterval(not_dude_t);
            $not_dude.text("Not a Dude");
            $activity_talker.html("&nbsp;");
          } else {
            not_dude.active = true;
            $not_dude.html("<span class='glyphicon glyphicon-pause'></span>");
            $activity_talker.html("Not a dude.");
            if (dude.active === true) {
              $dude.toggleClass('pressed');
              dude.active = false;
              $dude.text("A Dude");
              clearInterval(dude_t);
            }
            not_dude_t = setInterval(function() {
              not_dude.time.seconds++;
              setTime(not_dude.time, '#not-dude-display', '#not-dude-input');
            }, 1000);
          }
        });
        $('body').keydown(function(e) {
          if (e.keyCode === 37) { // left
            $dude.trigger('click');
          } else if (e.keyCode === 39) { //right
            $not_dude.trigger('click');
          }
        });


        setTime(not_dude.time, '#not-dude-display', '#not-dude-input');
        setTime(dude.time, '#dude-display', '#dude-input');
      });
    </script>
    {% include "shared/footer.html" %}
  </body>
</html>
