imgurApiKey: ADD_IMGUR_KEY_HERE
recaptchaPublicKey: ADD_RECAPTCHA_KEY_HERE
recaptchaPrivateKey: ADD_RECAPTCHA_P_KEY_HERE
firebaseSecret: ADD_FIREBASE_SECRET_HERE
firebaseStore: ADD_FIREBASE_STORE_URL_HERE
mandrillApiKey: ADD_MANDRILL_KEY_HERE
mandrillUsername: ADD_MANDRILL_USERNAME_HERE
adminEmail: ADD_EMAIL_HERE
newRelicLicenseKey: ADD_NEWRELIC_KEY_HERE
cookieSecret: ADD_RANDOM_SECRET_STRING_HERE
