body {
	font-family: var(--body-font, 'Futura'), Arial, sans-serif;
	background-color: var(--body-background-color, #ffffff);
	color: var(--body-color, #000000);
	padding: 10px;
	height: 100%;
	margin: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--header-color, #000000);
}
div.container {
	display: grid;
	margin: auto;
	justify-content: center;
}
