body {
	font-family: var(--body-font-family, 'Futura'), Arial, sans-serif;
	font-size: 1.3rem;
	background-color: var(--body-background-color, #ffffff);
	color: var(--body-color, #000000);
	padding: 10px;
	height: 100%;
	margin: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--header-color, #000000);
}
#container {
	display: flex;
	flex-direction: column;
	margin: auto;
	justify-content: center;
	max-width: 45rem;
	align-items: center;
	padding-bottom: 50px;
}
#navigation {
	display: flex;
	justify-content: space-around;
	gap: 10px;
	margin-top: 1rem;
}
input,
textarea,
select {
	padding: 6px 3px;
	padding-left: 14px;
	border-radius: 4px;
	border: 1px solid var(--form-border-color, #cccccc);
	background-color: white;
	font-size: 1.1rem;
}
.instructions {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-size: 1.3rem;
}
form {
	display: grid;
	row-gap: 2.2rem;
}
div.formItem {
	display: grid;
	row-gap: 0.2rem;
}
input[type='number'] {
	width: 3rem;
}
body {
	animation: fadein 1s;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: var(--body-opacity-loaded, 0);
	}
}
