<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  {% include "shared/header.html" %}
  <body class="ballotmania">
    <div class="container">
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6 text-center">
          <div id="logo">
            <a href="/"><img src="../img/ballotmania.png" alt="BallotMANia"/></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 text-center">
          <h2>Count your candidates.</h2>
          <p>(Ballot information provided by <a class="inline" href="http://ballotpedia.com" target="_new">Ballotpedia</a>)</p>
        </div>
      </div>
      <form method="post" id="zip-form" action="/ballotmania/ballot">
        {% set index = -1 %}
        {% for race in offices %}
          <div class="row office text-center">
            <div class="co-xs-12">
              <h3>{{ race.office.name }}</h3>
            </div>
          </div>
          {% for candidate in race.candidates %}
          {% set index = index + 1 %}
          <div class="text-center">
            <div class="row candidate">
              <div class="col-xs-4 text-center">
                  {% if candidate.person.image.url %}
                    <img
                      class="candidate-picture"
                      src="{{ candidate.person.image.url }}"
                      alt="{{ candidate.person.name }} photo" />

                    <a class="bio-link" href="{{ candidate.person.url }}" target="_blank">
                      <div class="small-bio">
                        Click for bio
                      </div>
                    </a>
                  {% else %}
                    <div class="large-bio">
                      <p>No Photo</p>
                    </div>
                    <a class="bio-link" href="{{ candidate.person.url }}" target="_blank">
                      <div class="small-bio">
                        Click for bio
                      </div>
                    </a>
                  {% endif %}
              </div>
              <div class="col-xs-8">
                <div class="row">
                  <div class="col-xs-12 text-center">
                    <h4>{{ candidate.person.name }}</h4>
                    <div class="party">({{ candidate.party_affiliation[0].name }})</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 text-center">
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="button ballot-button woman-of-color-button" id="woman-of-color-{{index}}">Woman of color</div>
                      </div>
                      <div class="col-xs-12">
                        <div class="button ballot-button white-woman-button" id="white-woman-{{index}}">White woman</div>
                      </div>
                      <div class="col-xs-12">
                        <div class="button ballot-button man-button" id="man-{{index}}">Man</div>
                      </div>
                      <div class="col-xs-12">
                        <div class="button ballot-button nonbinary-button" id="nonbinary-{{index}}">Nonbinary</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-1 text-center">
              </div>
              <div class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-1 text-center">
              </div>
            </div>
          </div>
          {% endfor %}
        {% endfor %}
        {% if noCandidates %}
          <div class="row">
            <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 text-center">
              <br />
              <p>There are no candidates for the next election in this zip code listed in Ballotpedia’s database. Please check back again soon.</p>
              <br />
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 text-center">
              <a href="/ballotmania"><div class="btn btn-default btn-lg">Back</div></a>
            </div>
          </div>
        {% else %}
          <div class="row"><br/>
            <div class="col-xs-offset-1 col-xs-5 col-sm-offset-3 col-sm-3 text-right">
              <a href="/ballotmania"><div class="btn btn-default btn-lg">Back</div></a>
            </div>
            <div class="col-xs-5 col-sm-3 text-left">
              <input type="hidden" name="men" value="0" id="men" />
              <input type="hidden" name="whiteWomen" value="0" id="white-women" />
              <input type="hidden" name="womenOfColor" value="0" id="women-of-color" />
              <input type="hidden" name="nonbinary" value="0" id="nonbinary" />
              <input class="btn btn-default btn-lg" type="submit" value="Submit"/>
            </div>
          </div>
        {% endif %}
      </form>
    </div>
    <script type="text/javascript">

      function verifyTotalCount() {
        var candidateCount = $(".candidate").length;
        var selectionCount =
          $("#men").val() +
          $("#white-women").val() +
          $("#women-of-color").val() +
          $("#nonbinary").val();

        if(selectionCount < candidateCount) {
          alert("You must make a choice for each candidate.")
          return false;
        }
        return true;
      }

      function resetButtonsByIndex(index) {
        $("#man-" + index).removeClass("pressed");
        $("#white-woman-" + index).removeClass("pressed");
        $("#woman-of-color-" + index).removeClass("pressed");
        $("#nonbinary-" + index).removeClass("pressed");
      }

      function activateButton($button) {
        $button.addClass("pressed");
      }

      function setCounts(selections) {
        var manCount = selections.reduce(function(total, selection) {
          if (selection === "m")
            return total + 1;
          return total;
        }, 0)
        var whiteWomanCount = selections.reduce(function(total, selection) {
          if (selection === "ww")
            return total + 1;
          return total;
        }, 0)
        var womanOfColorCount = selections.reduce(function(total, selection) {
          if (selection === "woc")
            return total + 1;
          return total;
        }, 0)
        var nonbinaryCount = selections.reduce(function(total, selection) {
          if (selection === "n")
            return total + 1;
          return total;
        }, 0)

        $("#men").val(manCount);
        $("#white-women").val(whiteWomanCount);
        $("#women-of-color").val(womanOfColorCount);
        $("#nonbinary").val(nonbinaryCount);
      }

      $(function() {
        var manButtons = $(".man-button");
        var wwButtons = $(".white-woman-button");
        var wocButtons = $(".woman-of-color-button");
        var nonbinaryButtons = $(".nonbinary-button");
        var selections = [];

        manButtons.click(function() {
          var $this = $(this);
          var id = $this.attr("id");
          var index = parseInt(id.slice(4), 10);
          resetButtonsByIndex(index);
          activateButton($this);
          selections[index] = 'm';
          setCounts(selections);
        })
        wwButtons.click(function() {
          var $this = $(this);
          var id = $this.attr("id");
          var index = parseInt(id.slice(12), 10);
          resetButtonsByIndex(index);
          activateButton($this);
          selections[index] = 'ww';
          setCounts(selections);
        })
        wocButtons.click(function() {
          var $this = $(this);
          var id = $this.attr("id");
          var index = parseInt(id.slice(15), 10);
          resetButtonsByIndex(index);
          activateButton($this);
          selections[index] = 'woc';
          setCounts(selections);
        })
        nonbinaryButtons.click(function() {
          var $this = $(this);
          var id = $this.attr("id");
          var index = parseInt(id.slice(10), 10);
          resetButtonsByIndex(index);
          activateButton($this);
          selections[index] = 'n';
          setCounts(selections);
        })
        $("form").submit(verifyTotalCount);
      });
    </script>
    {% include "shared/footer.html" %}
  </body>
</html>
