<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  {% include "shared/header.html" %}
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-offset-1 col-sm-10 text-center">
          <div id="ballotmania-tutorial">
            <img src="../img/ballotmania_tutorial.png" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 text-center">
          <a href="/ballotmania"><div class="button">OK</div></a>
        </div>
      </div>
    </div>
    {% include "shared/footer.html" %}
  </body>
</html>
