<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  {% include "shared/header.html" %}
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6 text-center">
          <div id="logo">
            <a href="/"><img src="../img/wire_logo.png" alt="Gender Avenger"/></a>
          </div>
        </div>
      </div>
      <div class="row pad-top">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 text-center">
            {% if error.zip %}
            <p class="error">Oops! Please enter a valid zip code. (5 numbers)</p>
            {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 text-center">
          <h2>Look up your ballot.</h2>
        </div>
      </div>
      <form method="post" id="zip-form" action="/ballotmania">
        <div class="row">
          <div class="col-xs-4 col-xs-offset-4 col-sm-offset-5 col-sm-2 text-center">
            <div class="form-group {% if error.zip %}error{% endif %}">
              <label for="zip">Zip:</label>
              <input class="form-control" style="text-align: center" id="zip" name="zip" placeholder="" {% if zip %}value="{{ zip }}"{% endif %}/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-offset-1 col-xs-5 col-sm-offset-4 col-sm-2 text-right">
            <a href="/"><div class="btn btn-default btn-lg">Back</div></a>
          </div>
          <div class="col-xs-5 col-sm-2 text-left">
            <div class="form-group">
              <input class="btn btn-default btn-lg" type="submit" value="Submit"/>
            </div>
          </div>
        </div>
      </form>
        <div class="row">
          <div class="col-xs-offset-1 col-xs-10 text-center">
            <p class="disclaimer">(Ballot information provided by <a class="inline" href="http://ballotpedia.com" target="_new">Ballotpedia</a>)</p>
            <p class="disclaimer">GenderAvenger does not endorse any candidate or party.</p>
          </div>
        </div>
    </div>
    {% include "shared/footer.html" %}
  </body>
</html>
