<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  {% include "shared/header.html" %}
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6 text-center">
          <div id="logo">
            <a href="/"><img src="img/color_logo.png" alt="Gender Avenger"/></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6 text-center">
          <h1>We'll be back!</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6 text-center">
          <p class="instructions">One of the services we use to power the Tally seems to be down.  Please try again in a few minutes.</p>
        </div>
      </div>


    </div>
  </body>
</html>
