<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  {% include "shared/header.html" %}
  <body>
    {% include "shared/navbar.html" %}

    <!-- Recaptcha -->
    <script type="text/javascript">
      var RecaptchaOptions = {theme: 'clean', lang: 'en'};
    </script>

    <div id="app" class="container root">
      <div class="row">
        <div id="app-instructions" class="col-sm-offset-3 col-sm-6 instructions">
          <p>Few to zero women on a panel? Top 30 list missing women? Anywhere women are left out. Take action. Create and share your GA Tally gender ration pie chart on Facebook, Twitter or anonymously!</p>
        </div>
      </div>
      <div class="row">
        <form id="tally_form" action="report" method="post" role="form" class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-3" for="hashtag">Hashtag</label>
            <div class="col-sm-6">
              <input type="text" name="hashtag" id="hashtag" placeholder="#hashtag"
                class="form-control{% if error.hashtag %} error {% endif %}"
                {% if hashtag %} value="{{ hashtag }}" {% endif %} />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" for="women">Number of Women</label>
            <div class="col-sm-6">
              <input type="number" id="women" name="women" placeholder="0"
                class="form-control{% if error.women %} error {% endif %}"
                {% if women %} value="{{ women }}" {% endif %} />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" for="men">Number of Men</label>
            <div class="col-sm-6">
              <input type="number" id="men" name="men" placeholder="0"
                class="form-control{% if error.men %} error {% endif %}"
                {% if men %} value="{{ men }}" {% endif %} />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" for="session_text">Context <em>(optional)</em></label>
            <div class="col-sm-6">
              <input type="text" id="session_text" name="session_text" placeholder="e.g. session name"
                class="form-control{% if error.session_text %} error {% endif %}"
                {% if session_text %} value="{{ session_text }}" {% endif %} />
            </div>
          </div>

          <div id="preview"></div>

          {% if error.recaptcha %}
          <div class="error">
            <div class="col-sm-offset-3 col-sm-6">
              <h3 style="color:red;">Please Try Again</h3>
            </div>
          </div>
          {% endif %}
          {% if not didRecaptcha %}

          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
              <div class="g-recaptcha" data-sitekey="{{recaptcha_public_key}}"></div>
            </div>
          </div>
          {% endif %}

          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
              <input class="btn btn-default btn-lg" type="submit" value="Chart it"/>
            </div>
          </div>
        </form>
      </div>
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
          <p><em>Please don't miscount or misrepresent. No really nasty language. No personal attacks. The facts will win the day.</em></p>
        </div>
      </div>
    </div>

    <!-- Footer -->
    {% include "shared/footer.html" %}

    <script type="text/javascript" src="/js/index_events.js"></script>
  </body>
</html>
