<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  {% include "shared/header.html" %}
  <body class="landing">
    <div class="container">
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6 text-center">
          <div id="logo">
            <img src="img/color_logo.png" alt="Gender Avenger"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 text-center">
          <h1>We're On A Mission</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-2 col-xs-8 col-sm-offset-3 col-sm-6 text-center">
          <p>Welcome to the GA community.  Help ensure that women are always part of the public dialog... because women's voices count.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10 text-center">
          <a href="toolselect"><div class="button">Get Started</div></a>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/js/index_events.js"></script>
  </body>
</html>
