doctype html
html
  head
    title Gender Avenger
body
  h1 Gender Avenger Report
  form(action="submit",method="post")
    label men
    input(type="text", name="men")
    label women
    input(type="text", name="women")
    hr
    input(type="submit", name="submit")
