<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  {% include "shared/header.html" %}

  <body class="share">
    <div class="container">
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6 text-center">
          <div id="logo">
            <a href="/"><img src="../img/wire_logo.png" alt="Gender Avenger"/></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6 text-center">
          <h2>Share!</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-3 col-xs-2 col-md-offset-4 col-md-1 text-center">
          <a class="social" href="https://www.facebook.com/sharer/sharer.php?u=http://app.genderavenger.com/share/{{ pie_id }}" title="Share on Facebook"><img src="../img/social_fb_large.png"/></a>
        </div>
        <div class="col-xs-2 text-center">
          <a class="social" href="https://twitter.com/intent/tweet?text=http://app.genderavenger.com/share/{{ pie_id }} via %40GenderAvenger %23genderavenger %23test" title="Share on Twitter"><img src="../img/social_twitter_large.png"/></a>
        </div>
        <div class="col-xs-2 col-md-1 text-center">
          <a class="social" href="mailto:?cc=gina@genderavenger.com&subject=Hello%20again&body=I thought you might want to see this gender breakdown: http://app.genderavenger.com/share/{{ pie_id }}" title="Share by Email"><img src="../img/social_email_large.png"/></a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
          <div id="chart">
            <img src="{{pie}}" />
          </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-2 col-xs-8 text-center">
          <p class="instructions">Or submit anonymously and GenderAvenger will post</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6 text-center">
          <div class="button">Submit</div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      $(function() {
        $("a.social").click(function(e) {
          window.open(this.href, '', 'menubar=yes,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');
          window.location.href = window.location.href.replace('/share/', '/thankyou/');
          return false;
        });
      })
    </script>

    <script type="text/javascript" src="/js/chart_events.js"></script>
  </body>
</html>
