<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  {% include "shared/header.html" %}
  <body class="choice">

    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <div id="logo">
            <a href="/"><img src="img/wire_logo.png" alt="Gender Avenger"/></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-1 col-sm-10 text-center">
          <br/>
          <p>Choose how to measure inclusion</p>
          <br/>
          <a href="form">
            <div class="button btn-pad">
              <span class="larger">Count</span>
              <br/>
              <span class="small">Who's Present</span>
            </div>
          </a>
          <a href="whotalks">
            <div class="button btn-pad">
              <span class="larger">Time</span>
              <br/>
              <span class="small">Who's Talking</span>
            </div>
          </a>
        </div>
      </div>

    </div>
    <script type="text/javascript" src="/js/index_events.js"></script>
  </body>
</html>
