<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  {% include "shared/header.html" %}
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6 text-center">
          <div id="logo">
            <img src="img/color_logo.png" alt="Gender Avenger"/>
          </div>
        </div>
      </div>
      <div class="row pad-top">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 text-center">
          <h2>Who's Talking?</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 text-center">
          <p id="ans">&nbsp;</p>
        </div>
      </div>
      <div class="row pad-bottom">
        <div class="col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-4 text-center">
          <div class="button button-timer" id="dude">A Dude</div>
          <p id="dude-display" class="display">00:00</p>
        </div>
        <div class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-4 text-center">
          <div class="button button-timer" id="not-dude">Not a Dude</div>
          <p id="not-dude-display" class="display">00:00</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10 text-center">
          <form method="post" id="chart-form" action="talkschart">
            <div class="form-group {% if error.session_text %} error {% endif %}">
              <label for="session_text">Title your results</label>
              <textarea class="form-control" id="session_text" name="session_text" placeholder="e.g. the name of an meeting, show, event">{% if session_text %}{{ session_text }}{% endif %}</textarea>
            </div>
            <div class="form-group {% if error.hashtag %} error {% endif %}">
              <label for="hashtag">Is there a hashtag?</label>
              <input type="text" class="form-control" name="hashtag" id="hashtag" placeholder="optional" {% if hashtag %}value="{{ hashtag }}"{% endif %}/>
            </div>

            <div class="form-group">
              <input type="hidden" name="not_dude_time" value="0" id="not-dude-input" />
              <input type="hidden" name="dude_time" value="0" id="dude-input" />
              <input class="btn" type="submit" id="chart-submit" value="Finish"/>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/js/index_events.js"></script>

    <script type="text/javascript">
      $(function() {
        'use strict';
        var dude = {
          time: {
            minutes: 0,
            seconds: 0,
            hours: 0
          },
          active: false
        };
        var not_dude = {
          time: {
            minutes: 0,
            seconds: 0,
            hours: 0
          },
          active: false
        };
        var dude_t;
        var not_dude_t;
        var $ans = $('#ans');
        var $dude = $('#dude');
        var $not_dude = $('#not-dude');

        var $dude_input = $('#dude-input');
        var $dude_input = $('#not-dude-input');

        function num_pad(num) {
          if (num < 10) {
            return '0' + num;
          } else {
            return num;
          }
        }
        function add(tally, display_sel, input_sel) {
          tally.seconds++;
          if (tally.seconds >= 60) {
            tally.minutes++;
            tally.seconds = 0;
          }
          if (tally.minutes >= 60) {
            tally.hours++;
            tally.minutes = 0;
          }
          if (tally.hours !== 0) {
            $(display_sel).html(num_pad(tally.hours) + ':' + num_pad(tally.minutes) + ':' + num_pad(tally.seconds));
          } else {
            $(display_sel).html(num_pad(tally.minutes) + ':' + num_pad(tally.seconds));
          }

          // Update the input value
          var tally_tot = (tally.hours * 3600) + (tally.minutes * 60) + tally.seconds
          $(input_sel).val(tally_tot);

          var d_tot = (dude.time.hours * 3600) + (dude.time.minutes * 60) + dude.time.seconds;
          var l_tot = (not_dude.time.hours * 3600) + (not_dude.time.minutes * 60) + not_dude.time.seconds;
          var pct = parseInt(d_tot / (d_tot + l_tot) * 100, 10);
          $ans.html('<span id="pct">' + pct + '</span>% men');
        }
        $dude.click(function() {
          $dude.toggleClass('pressed');
          if (dude.active === true) {
            dude.active = false;
            clearInterval(dude_t);
          } else {
            dude.active = true;
            if (not_dude.active === true) {
              $not_dude.toggleClass('pressed');
              not_dude.active = false;
              clearInterval(not_dude_t);
            }
            dude_t = setInterval(function() {
              add(dude.time, '#dude-display', '#dude-input');
            }, 1000);
          }
        });
        $not_dude.click(function() {
          $not_dude.toggleClass('pressed');
          if (not_dude.active === true) {
            not_dude.active = false;
            clearInterval(not_dude_t);
          } else {
            not_dude.active = true;
            if (dude.active === true) {
              $dude.toggleClass('pressed');
              dude.active = false;
              clearInterval(dude_t);
            }
            not_dude_t = setInterval(function() {
              add(not_dude.time, '#not-dude-display', '#not-dude-input');
            }, 1000);
          }
        });
        $('body').keydown(function(e) {
          if (e.keyCode === 37) { // left
            $dude.trigger('click');
          } else if (e.keyCode === 39) { //right
            $not_dude.trigger('click');
          }
        });
      });
    </script>
  </body>
</html>
