<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  {% include "shared/header.html" %}
  <body class="landing">
    <div class="container">
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6 text-center">
          <div id="logo">
            <img src="img/color_logo.png" alt="Gender Avenger"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 text-center">
          <h2>Who's Talking?</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-2 col-xs-8 col-sm-offset-3 col-sm-6 text-center">
          <div class="button">A Dude</div>
        </div>
        <div class="col-xs-offset-2 col-xs-8 col-sm-offset-3 col-sm-6 text-center">
          <div class="button">Not a Dude</div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10 text-center">
          <a href="form"><div class="button">Get Started</div></a>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/js/index_events.js"></script>
  </body>
</html>
