/****************************
 *  File Organization
 *  1) Core HTML / Bootstrap
 *  2) Page Elements
 *  3) Generic Classes
 *  4) Media Queries
 ****************************/

/********************************
 ** Core HTML / Bootstrap Tags **
 ********************************/

  * {
    margin: 0px;
    padding: 0px;
  }

  html {
    height: 100%;
  }
  body {
    padding-top: 30px;
    font-family: 'Futura', Arial,sans-serif;
    font-size: 13px;
    height:100%;
    background-color: #202555;
    bottom: 100px;
  }
  .container {
    padding-bottom: 110px;
  }
  #background {
    width:100%;
    margin-top: 10px;
    height:90px;
    background-image: url('../img/cityscape.png');
    background-repeat: repeat-x;
    bottom:0;
    position: fixed;
    z-index: -1;
  }
  h1 {
    color: #fff;
    font-family: 'Futura',Arial,sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
  }

  p {
    color: #fff;
    font-family: 'Futura',Arial,sans-serif;
    font-size: 18px;
    font-weight: medium;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  a.inline {
    text-decoration: underline;
    color: #fff;
  }

  label {
    font-size: 18px;
    color: #fff;
    font-weight: normal;
  }

  textarea {
    padding: 10px;
    width: 100%;
    height: 70px;
  }

  div.button {
    background: #EF4C29;
    color: #fff;
    font-family: 'Futura',Arial,sans-serif;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    padding: 5px 20px;
    cursor: pointer;
    text-transform: uppercase;
    margin: 5px 0px;
  }

  .larger {
    font-size: 120%;
  }

  .secondary-button {
    background: #fff;
    color: #EDCE64;
    font-size: 15px;
    font-weight: normal;
    display: inline-block;
    padding: 10px 0px;
    width: 100%;
    cursor: pointer;
    border: 1px solid #999;
    border-radius: 0px;
  }

  h2 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #fff;
  }

  .instructions {
    font-size: 15px;
    color: #fff;
  }

  p.error {
    font-size: 12px;
    color: #ee0000;
    background: #fff;
    padding: 10px;
  }
  div.error input, div.error textarea {
    border: 3px solid #bb0000;
  }

  /* Bootstrap overrides */
  input[type="number"] {
    width: 75px;
  }

  .tool-list {
    max-width: 750px;
    margin:auto;
  }

  .btn {
    background: #EF4C29;
    color: #fff;
    border-color: #EF4C29;
    border-radius: 0px;
    text-transform: uppercase;
    font-family: 'Futura',Arial,sans-serif;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    padding: 4px 20px;
    cursor: pointer;
    margin: 5px 0px;
  }
  .btn:hover {
    color: #fff;
  }

  /* Landing Page */
  .landing #logo {
    margin-bottom: 50px;
  }

  .landing h1 {
    margin-bottom: 15px;
  }

  .landing p {
    margin-bottom: 26px;
  }

  /* Form Page */
  .form #logo {
    margin-bottom: 20px;
  }
  .form #logo img {
    height: 64px;
  }

  /* Ballotmania Tutorial */
  #ballotmania-tutorial img {
    max-width: 500px;
    width: 100%;
  }

  /* BallotMANia Page */
  .ballotmania #logo {
    margin-bottom: 5px;
  }
  .ballotmania #logo img {
    height: 80px;
  }

  .ballotmania .candidate-picture {
  }

  .ballotmania .small-bio {
    margin-top: 5px;
    padding: 5px;
    border: 1px solid white;
  }
  .ballotmania .large-bio {
    margin-top: 1em;
    padding: 42px 5px;
    border: 1px solid white;
  }
  .ballotmania a.bio-link {
    color: #fff;
    text-decoration: none;
  }
 .disclaimer {
    font-size: 1em;
    margin-top: 20px;
  }

  /* Choice Page */
  .choice #logo {
    margin-bottom: 20px;
  }
  .choice #logo img {
    height: 64px;
  }
  .choice .instructions {
    margin-bottom: 40px;
  }

  /* Photo Page */
  .photo #logo {
    margin-bottom: 20px;
  }
  .photo #logo img {
    height: 64px;
  }
  .photo #photo-preview {
    width: 300px;
    height: 300px;
    display: inline-block;
  }
  .photo #photo-preview img {
    max-height: 100%;
    max-width: 100%;
  }
  #photo-canvas {
    width: 300px;
    height: 300px;
    background: #243C7A;
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
  }
  .photo #photo-button label {
    height: 36px;
    width: 50px;
    position: absolute;
    right: 5px;
    bottom: 3px;
    background: url('../img/camera.png');
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  #photo-nav {
    display: none;
    width: 300px;
    position: absolute;
    bottom: 0px;
    padding: 15px 20px;
  }
  #photo-nav label {
    display: block;
  }
  .photo #photo-button input {
    display: none;
  }

  /* Share Page */
  .share #logo {
    margin-bottom: 0px;
  }
  .share #logo img {
    height: 32px;
  }

  .share #chart {
    padding: 0px 15px;
    margin: 15px 0px;
  }
  .share #chart img {
    width: 100%;
    border: 3px solid #E3DFC9;
  }
  .share .social-share {
    padding-bottom: 20px;
  }
  .share .social-share .button, .share .social-share .btn {
    width: 100%;
    height:100%;
  }

  body.share {
    background-image: none;
  }

  /* Thank You Page */
  .thankyou #logo {
    margin-bottom: 20px;
  }
  .thankyou #logo img {
    height: 64px;
  }
  .thankyou .button {
    margin-bottom: 15px;
  }
  .thankyou .instructions {
    margin-top: 20px;
    margin-bottom: 30px;
  }


  input[name="session_text"] {
    min-width: 166px;
  }


  /* Who Talks Page */
  div.button-timer {
    min-width: 180px;
    padding: 12px;
    background-color: #edce63;
    color: #1d2951;
    margin-bottom: 10px;
  }
  div.button-timer:hover {
    background-color: #f1d881;
  }
  div.button-timer.pressed {
    background-color: #DC5239;
  }

  div.button-pause {
    width: 60px;
    padding: 12px;
    background-color: #DC5239;
    color: #ffffff;
    margin-bottom: 10px;
  }

  #activity-talker {
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #fff;
  }

  /* Ballotmania Page */
  div.candidate {
    max-width: 400px;
    margin: auto;
    padding: 10px 0px;
    margin-bottom: 10px;
  }
  div.candidate img {
    max-width: 100%;
    max-height: 150px;
    margin-top: 15px;
  }
  div.candidate {
    background-color: #3152A4;
    border: 3px solid #fff;
  }
  div.office {
    color: #fff;
  }
  div.candidate h4 {
    color: #fff;
    margin-bottom: 0px;
  }
  div.candidate div.party {
    font-size: .7em;
    margin-bottom: 2px;
    color: #fff;
    font-weight: normal;
  }
  div.ballot-button {
    width: 100%;
    max-width: 200px;
    padding: 3px;
    background-color: #edce63;
    color: #1d2951;
    font-size: 12px;
  }
  div.ballot-button:hover {
    background-color: #f1d881;
  }
  div.ballot-button.pressed {
    background-color: #DC5239;
  }

  .pad-bottom {
    margin-bottom: 40px;
  }
  .pad-top {
    margin-top: 40px;
  }

  #ans {
    color: #f1d881;
  }
  .display {
    color: #f1d881;
    font-size: 90%;
  }

  div.btn-pad {
    margin: 4px;
  }

 div.footer a { color: #fff; }
 div.footer {
  padding: 10px;
 }
