<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  {% include "shared/header.html" %}
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6 text-center">
          <div id="logo">
            <a href="/"><img src="../img/wire_logo.png" alt="Gender Avenger"/></a>
          </div>
        </div>
      </div>
      <br />
      <form method="post" id="zip-form" action="/ballotmania">
        <div class="row text-center">
          <div class="text-center">
            <h1>Progress Dashboard</h1>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-sm-offset-4 col-sm-2">
            <h2>3 / 5</h2>
            <p>Contacted</p>
          </div>
          <div class="col-sm-2">
            <h2>0</h2>
            <p>Signed up</p>
          </div>
        </div>
        <br />
        <br />
        <div class="row">
          <div class="text-center">
            <div class="form-group">
              <input class="btn btn-default btn-lg" type="submit" value="Keep texting"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="text-center">
            <div class="form-group">
              <input class="btn btn-default btn-lg" type="submit" value="Ask a friend to help"/>
            </div>
          </div>
        </div>
      </form>
    </div>
    {% include "shared/footer.html" %}
  </body>
</html>
