<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  {% include "shared/header.html" %}
  <body class="form">

    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <div id="logo">
            <a href="/"><img src="../img/wire_logo.png" alt="Gender Avenger"/></a>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-xs-offset-1 col-xs-10 col-sm-offset-4 col-sm-4" text-center">
            {% if error.women %}
            <p class="error">Oops! Women must be a number.</p>
            {% elif error.men %}
            <p class="error">Oops! Men must be a number.</p>
            {% elif error.womenofcolor %}
            <p class="error">Oops! Women of color must be a number.</p>
            {% elif error.nonbinary %}
            <p class="error">Oops! Nonbinary must be a number.</p>
            {% else %}
              <p class="instructions text-center">Women missing on a panel, list, or someplace else?</p>
              <p class="instructions text-center">Share what you are seeing.</p>
            {% endif %}
        </div>
      </div>

      <form id="tally_form" method="post" role="form">
        <div class="row">
          <div class="col-xs-offset-1 col-xs-10 col-sm-offset-4 col-sm-4">
            <div class="form-group {% if error.women %}error{% endif %}">
              <label for="women">How many women total?</label>
              <input type="number" class="form-control" id="women" name="women" placeholder="0" value="{% if women %}{{ women }}{% else %}0{% endif %}"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-offset-1 col-xs-10 col-sm-offset-4 col-sm-4">
            <div class="form-group {% if error.women %}error{% endif %}">
              <label for="womenofcolor">How many women of color?</label>
              <input type="number" class="form-control" id="womenofcolor" name="womenofcolor" placeholder="0" value="{% if womenofcolor %}{{ womenofcolor }}{% else %}0{% endif %}"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-offset-1 col-xs-10 col-sm-offset-4 col-sm-4">
            <div class="form-group {% if error.men %} error {% endif %}">
              <label for="men">How many men?</label>
              <input type="number" class="form-control" id="men" name="men" placeholder="0" value="{% if men %}{{ men }}{% else %}0{% endif %}"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-offset-1 col-xs-10 col-sm-offset-4 col-sm-4">
            <div class="form-group {% if error.nonbinary %} error {% endif %}">
              <label for="nonbinary">How many nonbinary persons?</label>
              <input type="number" class="form-control" id="nonbinary" name="nonbinary" placeholder="0" value="{% if nonbinary %}{{ nonbinary }}{% else %}0{% endif %}"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-offset-1 col-xs-5 col-sm-offset-4 col-sm-2">
            <a href="/"><div class="btn btn-default btn-lg">Back</div></a>
          </div>
          <div class="col-xs-5 col-sm-2 text-right">
            <input class="btn btn-default btn-lg" type="submit" value="Submit"/>
          </div>
        </div>
      </form>
    </div>

    <div id="cityscape"></div>
    <script type="text/javascript" src="/js/index_events.js"></script>
    {% include "shared/footer.html" %}
  </body>
</html>
