<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  {% include "shared/header.html" %}

  <body class="share">
    <div class="container">
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6 text-center">
          <div id="logo">
            <a href="/"><img src="../img/wire_logo.png" alt="Gender Avenger"/></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
          <div id="chart">
            <img src="{{pie}}" />
          </div>
        </div>
      </div>
      <div class="row social-share">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-4 col-md-offset-2 col-md-4 text-center">
          <a class="social" href="https://www.facebook.com/sharer/sharer.php?u=http://app.genderavenger.com/share/{{ pie_id }}&quote={{social_share_text}}" title="Share on Facebook" target="_blank"><div class="button">Share on Facebook</div></a>
        </div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4 col-md-4 text-center">
          <a class="social" href="https://twitter.com/intent/tweet?text={{social_share_text}}http://app.genderavenger.com/share/{{ pie_id }} via %40GenderAvenger %23genderavenger {{ hashtag }}" title="Share on Twitter" target="_blank"><div class="button">Share on Twitter</div></a>
        </div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-4 col-md-offset-2 col-md-4 text-center">
          <a class="social" href="mailto:?cc=gina@genderavenger.com&subject=GA%20Tally&body=I thought you might want to see this gender breakdown: http://app.genderavenger.com/share/{{ pie_id }}" title="Share by Email"><div class="button">Share by Email</div></a>
        </div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4 col-md-4 text-center">
          <a class="social" href="{{pie}}" download><div class="button">Download</div></a>
        </div>
      {% if report_is_new %}
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-4 col-sm-4 col-md-offset-4 col-md-4 text-center">
          <form action="/anonymous/{{ pie_id }}" method="post"><button type="submit" class="btn">Submit Anonymously</button></form>
        </div>
      {% endif %}
      </div>
    </div>

    <script type="text/javascript">
      $(function() {
        $("a.social").click(function(e) {
          window.location.href = window.location.href.replace('/share/', '/thankyou/');
        });
      })
    </script>

    <script type="text/javascript" src="/js/chart_events.js"></script>

    {% include "shared/footer.html" %}
  </body>
</html>
